
.transparent-btn {
    cursor: pointer;
    background: transparent;
    border: 1px solid #e3e3e3;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .transparent-btn:hover {
    transition: 1s ease-in-out;
    background: #445a72;
    border: 1px solid #afafaf;
  }
  
  .transparent-btn:hover svg {
    stroke-dashoffset: -480;
  }
  

  
  